<h1>Edit <%= @problem.name %></h1>

<%= form_for @problem do |f| %>

  <%= f.label :address %>
  <%= f.text_field :address %>

<% end %>


<script src="http://maps.googleapis.com/maps/api/js?AIzaSyBiyb2C93xxfnwykQ-9JL4mtEI0xduf21Q"></script>

<div id="googleMap" style="width:800px;height:520px;"></div>



<a href="/problems/new">New Problem</a>

<br>

<a href="/problems">Problems</a>
