<!-- <h1>Confirma la dirección o cambia la dirección</h1> -->

<%= form_for @problem do |f| %>
  <div class="edit_box" >
    <%= f.text_field :address, value: @problem.address, class:"address_text_field" %>
  </div>

    <%= f.submit "Confirmar Dirección", class:"button", id:"confirm_address" %>
<% end %>

<div class="the_map" id="googleMap" style="width:100%;height:76.2%;"></div>

<a href="/problems">Problems</a>
