<h1>Confirma la Direcci贸n o Cambia la Direcci贸n</h1>

<%= form_for @problem do |f| %>
  <div class="edit_box" >
    <%= f.label :Direcci贸n, class:"label_edit_field" %>
    <%= f.text_field :address, value: @problem.address, class:"address_text_field" %>
  </div>

    <%= f.submit "Confirmar Direcci贸n", class:"button", id:"confirm_address" %>
<% end %>

<div class="the_map" id="googleMap" style="width:100%;height:66%;"></div>



<a href="/problems/new">New Problem</a>

<br>

<a href="/problems">Problems</a>
