<h1> Problems </h1>
<ul>
<% @problems.each do |problem| %>
    <li><%=link_to problem.name, problem_path(problem.id) %></li>
 <%= problem.address %>||<%= problem.latitude %> <%= problem.longitude%> </li>
<% end %>
</ul>

<a href = "/problems/new">Create a new problem</a>

insert a map with all the markers!!
