<%= @problem.name %>
<br>
<%= @problem.latitude %>
<br>
<%= @problem.longitude %>

<script src="http://maps.googleapis.com/maps/api/js?[GOOGLE_MAPS_KEY]"></script>

<div class="the_map" id="googleMap" style="width:800px;height:520px;"></div>



<a href="/problems/new">New Problem</a>

<br>

<a href="/problems">Problems</a>
