<body>
<div id="googleMap" style="width:800px;height:520px;"></div>
<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>
</body>


<a href="/problems/new">New Problem</a>

<br>

<a href="/problems">Problems</a>
