<script src="http://maps.googleapis.com/maps/api/js?AIzaSyBiyb2C93xxfnwykQ-9JL4mtEI0xduf21Q"></script>



<body>
<div id="googleMap" style="width:500px;height:380px;"></div>
<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>
</body>


<a href="/problems/new">New Problem</a>
