/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
/*colores que me gustan #B1311B  #182C42 #128CBD #FFA338 #E84E7F #FFE8F0 #AC18E8 #CFE1FF #4E3F99 #FFC0B6 */
/* #348AFF  #FF604D #1257B2 #347CFF #FF7CFF #E3E0F6 #f17104 #f19f05 #5c35a4 #FDCF07*/


@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Poiret+One|Karla:400,700|Source+Code+Pro:400,700|Varela|Nixie+One|Love+Ya+Like+A+Sister|The+Girl+Next+Door|Anonymous+Pro:400,700|Codystar|Cutive+Mono|Raleway+Dots|Flamenco|NTR&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/************** New page, buttons! *******************************/

h1 {
  font-size: 9.5vw;
  font-family: 'Varela', 'Helvetica', sans-serif;
  margin-top: -0.5vw;
}

.radio_button{
  background-color: #FDCF07;
  height: 50vw;
  padding: 1em;
  border-top: 10px;
  border: 3px solid white;
  text-align: center;

}

.radio_button:nth-child(3n+1) {
  background-color: #f17104;
}

.radio_button:nth-child(3n+2) {
  background-color: #ff149b;
}

.radio_image {
  width: 67%;
}

ul {
  margin: 0;
  list-style: none;

}

.radio_button input {
  display: none;
}

.radio_button label {
  font-size: 6.2vw;
  font-family: 'Varela', sans-serif;
  color: black;
  line-height: 110%;
}

.button {
  width: 100%;
  font-size: 9vw;
  height: 25vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}


.address_text_field {
  width: 100%;

}

.edit_box input{
  font-family: 'Roboto';
  font-size: 5vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  margin: 0px;
}

.label_edit_field {
  padding-left: 1vw;
}


/************** Index page, info! *******************************/
.each_problem {
  background-color: #BAB0FF;
  border: 10px;
}

.title_of_problem {
  font-size: 2.2vw;
}

.address_of_problem {
  font-size: 1.4vw;
}

.problem-map {
  width: 18rem;
  height: 520px;
}
